body {
  background-color: #fefbe9;
}
nav {
  padding: 24px;
  margin: 0;
  background-color: #f0a04b;
  font-size: x-large;
}

.addTodo {
  width: 20%;
  margin-top: 1%;
  padding: 1%;
  position: absolute;
  height: 100%;
  background-color: burlywood;
  text-align: center;
}
.addTodo label {
  padding: 2%;
  margin: 5%;
}

.addTodo input {
  padding: 2%;
  margin: 5%;
}
.addTodo button {
  background-color: rgb(47, 218, 218);
  padding: 3%;
  border-radius: 12%;
  margin: 3%;
}
.todos {
  position: absolute;
  display: flex;

  flex-direction: column;
  width: 77%;
  margin-top: 1%;
  right: 0;
}
.todoCard {
  padding: 1%;
}
button {
  margin: 0;
  background-color: #0000;
}

.delete {
  margin-left: 1%;
  color: red;
}
